/*Code Mika*/

/*--------------- Image de fond d'écran ----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.piscine {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo-piscine {
  opacity: 50%;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

/* -------------------------  VERSION MOBILE  -----------------------*/

.en-tete {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.grid-container {
  /* display: grid; */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
  row-gap: 5vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.photo-nico {
  width: 40vw;
}

.nicolasP {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 30%;
}

.nicolasT {
  color: black;
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  font-family: Sorts Mill Gouldy;
  margin: 0 auto;
}

.photo-laeti {
  width: 40vw;
}
.laetitiaP {
  grid-area: 3 / 1 / 4 / 2;
  margin: auto 0;
}

.laetitiaT {
  color: black;
  grid-area: 4 / 1 / 5 / 2;
  text-align: center;
  font-family: Sorts Mill Gouldy;
  margin: 0 auto;
}

.photo-mika {
  width: 40vw;
}
.michaelP {
  grid-area: 5 / 1 / 6 / 2;
  margin-left: 30%;
}

.michaelT {
  color: black;
  grid-area: 6 / 1 / 7 / 2;
  text-align: center;
  font-family: Sorts Mill Gouldy;
  margin: 0 auto;
}

.photo-tony {
  width: 40vw;
}
.tonyP {
  grid-area: 7 / 1 / 8 / 2;
  margin: auto 0;
}

.tonyT {
  color: black;
  grid-area: 8 / 1 / 9 / 2;
  text-align: center;
  font-family: Sorts Mill Gouldy;
  margin: 0 auto;
}

#userContact {
  text-align: center;
  color: black;
  grid-area: 10 / 3 / 11 / 6;
  margin-top: 5%;
}

.userContactForm {
  line-height: 40px;
  color: black;
  grid-area: 11 / 2 / 12 / 7;
  border-radius: 10%;
  margin-top: 10%;
}

.input.box {
  background-color: rgb(216, 233, 22);
  color: black;
  border-radius: 10%;
  grid-area: 12 / 4 / 13 / 5;
  margin-bottom: 5%;
}

/*---------------------------- VERSION DESKTOP  ---------------------------*/

@media screen and (min-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 5%;
  }

  .photo-nico {
    width: 50%;
  }

  .nicolasP {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 auto;
  }
}

.nicolasT {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0 auto;
}

.photo-laeti {
  width: 50%;
  margin: 0 auto;
}
.laetitiaP {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 30%;
}

.laetitiaT {
  grid-area: 2 / 2 / 3 / 3;
  margin: 0 auto;
}

.photo-mika {
  width: 50%;
}
.michaelP {
  grid-area: 3 / 2 / 4 / 3;
  margin-left: 30%;
}

.michaelT {
  grid-area: 3 / 1 / 4 / 2;
  margin: 0 auto;
}

.photo-tony {
  width: 50%;
  margin: 0 auto;
}
.tonyP {
  grid-area: 4 / 1 / 5 / 2;
  margin-left: 30%;
}

.tonyT {
  grid-area: 4 / 2/ 5 / 3;
  margin: 0 auto;
}

.userContact h2 {
  text-align: center;
  color: black;
}

#userContactForm {
  line-height: 25px;
  color: black;
}

.input-box {
  background-color: rgb(252, 249, 249);
  color: black;
  font-size: 20px;
  border-radius: 10%;
  border: none;
  width: 40%;
}
